In [2]:
import pandas as pd

In [12]:
vine_table_df = pd.read_csv(r"C:\Users\vowel\Desktop\Data Analytics Class - Copy\Amazon_Vine_Analysis\vine_table.csv")
vine_table_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [13]:
vine_analysis_df = vine_table_df[vine_table_df["total_votes"]>19]
vine_analysis_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

In [17]:
vine_divided_df = vine_analysis_df[vine_analysis_df["helpful_votes"]/vine_analysis_df["total_votes"]>=.5]
vine_divided_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [19]:
vine_paid_df = vine_divided_df[vine_divided_df["vine"]=="Y"]
vine_paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N

In [20]:
vine_notpaid_df = vine_divided_df[vine_divided_df["vine"]=="N"]
vine_notpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [26]:
total_paid_5star=vine_paid_df[vine_paid_df["star_rating"]==5].count()
print(total_paid_5star)

review_id            48
star_rating          48
helpful_votes        48
total_votes          48
vine                 48
verified_purchase    48
dtype: int64

In [27]:
total_unpaid_5star=vine_notpaid_df[vine_notpaid_df["star_rating"]==5].count()
print(total_unpaid_5star)

review_id            15663
star_rating          15663
helpful_votes        15663
total_votes          15663
vine                 15663
verified_purchase    15663
dtype: int64

In [53]:
# Total Paid Vine Reviews
total_paid=vine_paid_df["star_rating"].count()
print(total_paid)

94

In [29]:
# Total Unpaid Vine Reviews
total_unpaid=vine_notpaid_df["star_rating"].count()
print(total_unpaid)

40471

In [38]:
unpaid_5star_ratings = total_unpaid_5star["star_rating"]

In [36]:
paid_5star_ratings = total_paid_5star["star_rating"]

In [37]:
# Total Paid 5 Star Reviews
print(paid_5star_ratings)

48

In [39]:
# Total Unpaid 5 Star Reviews
print(unpaid_5star_ratings)

15663

In [43]:
# Percentage of paid 5 star reviews to total paid 5 star reviews
paid_5star_percent = (paid_5star_ratings/total_paid)*100
print(paid_5star_percent)

51.06382978723404

In [44]:
# Percentage of unpaid 5 star reviews to total unpaid 5 star reviews
unpaid_5star_percent = (unpaid_5star_ratings/total_unpaid)*100
print(unpaid_5star_percent)

38.701786464381904